<?php
  $activePage = 'clientes';
?>
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GestorPro • Clientes</title>
    <link rel="stylesheet" href="../../public/assets/css/base.css" />
    <link rel="stylesheet" href="../../public/assets/css/buttons.css" />
    <link rel="stylesheet" href="../../public/assets/css/cards.css" />
    <link rel="stylesheet" href="../../public/assets/css/forms.css" />
    <link rel="stylesheet" href="../../public/assets/css/list.css" />
    <link rel="stylesheet" href="../../public/assets/css/modals.css" />
    <link rel="stylesheet" href="../../public/assets/css/topbar.css" />
    <link rel="stylesheet" href="../../public/assets/css/cliente-detalhes.css"/>
    <link rel="stylesheet" href="../../public/assets/css/modal-pagamento.css" />
    <link rel="stylesheet" href="../../public/assets/css/emprestimo-detalhes.css" />

  </head>
  <body>
    <header class="topbar">
      <div class="topbar__left">
        <a class="brand" href="index.html">
          <span class="brand__logo">∞</span>
          <span class="brand__name">GestorPro</span>
        </a>
      </div>

      <nav class="topbar__nav">
        <a class="navlink" href="index.html">Início</a>
        <!-- JAJA NOIS ALTERA -->
        <a
          class="navlink <?= $activePage === 'clientes' ? 'is-active' : '' ?>"
          href="clientes.html"
          >Clientes</a
        >
        <a class="navlink" href="emprestimos.html">Empréstimos</a>
        <!-- ALTERAR DEPOIS -->
        <a class="navlink" href="vencimentos.html">Vencimentos</a>
        <!-- ALTERAR DEPOIS -->
      </nav>

      <div class="topbar__right">
        <button
          class="btn btn--primary"
          type="button"
          data-modal-open="novoEmprestimo"
        >
          + Novo empréstimo
        </button>
      </div>
    </header>

    <main class="container">
      <div class="page-row">
        <div class="page-head">
          <h1 class="page-title">Clientes</h1>
          <p class="page-sub">
            <span id="clientesCount">0</span> clientes cadastrados
          </p>
        </div>

        <button
          class="btn btn--primary"
          type="button"
          data-modal-open="novoCliente"
        >
          + Novo cliente
        </button>
      </div>

      <div class="searchbar">
        <span class="searchbar__icon">🔎</span>
        <input
          id="clientesSearch"
          class="input input--search"
          type="text"
          placeholder="Buscar por nome, CPF ou telefone..."
          autocomplete="off"
        />
      </div>

      <section class="list" id="clientesList"></section>
    </main>

    <!-- JS global + sistema de modais -->
    <script src="../../public/assets/js/app.js"></script>
    <script src="../../public/assets/js/ux/toast.js"></script>
    <script src="../../public/assets/js/modals/core.js"></script>
    <script src="../../public/assets/js/utils/masks.js"></script>


    <script src="../../public/assets/js/modals/excluirCliente.action.js"></script>
    <script src="../../public/assets/js/modals/novoEmprestimo.modal.js"></script>
    <script src="../../public/assets/js/modals/novoCliente.modal.js"></script>
    <script src="../../public/assets/js/modals/detalhesCliente.modal.js"></script>
    <script src="../../public/assets/js/modals/editarCliente.modal.js"></script>
    <script src="../../public/assets/js/modals/lancarPagamento.modal.js"></script>
    <script src="../../public/assets/js/modals/detalhesEmprestimo.modal.js"></script>


    <script src="../../public/assets/js/modals/index.js"></script>
    <script src="../../public/assets/js/pages/clientes.js"></script>
  </body>
</html>
